
@use 'sass:math';
@use '../abstracts/abstracts' as *;

$loading: (
    measure: 24px,
    duration: 6000ms,
    delay: 300ms,
    border: 3px,
    left-border: calc(25% + 3px),
);

#loading {
    @extend %h-100vh;
    @extend %max-width;
    position: relative;
    transition: opacity map-get($loading, delay);

    &-bar, &-bar::after {
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    &-bar {
        position: absolute;
        border-radius: map-get($loading, measure);

        width: map-get($loading, measure);
        height: map-get($loading, measure);
        border: map-get($loading, border) solid;
        background-color: var(--color-font-primary);
        transform: translate(-50%,-50%);
        left: 50%;
        top: -#{map-get($loading, measure)};
        z-index: 1;

        animation-name: loading-bar;
        animation-delay: map-get($loading, delay);
        animation-duration: map-get($loading, duration);
        overflow: hidden;

        &::after {
            content: "";
            display: block;

            width: 0;
            position: relative;
            left: -2px;
            top: -2px;
            height: calc(100% + 4px);
            background-color: var(--color-font-secondary);

            animation-name: loading-bar-after;
            animation-delay: map-get($loading, delay) + math.div(map-get($loading, duration), 100) * 28 + map-get($loading, delay);
            animation-duration: map-get($loading, duration) - (math.div(map-get($loading, duration), 100) * 28) - map-get($loading, delay);
        }
    }
}

@keyframes loading-bar {
    0% {
        top: -#{map-get($loading, measure)};
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    8% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    10% {
        $size: math.div(map-get($loading, measure), 2);

        top: calc(50% + $size);
        height: $size;
        width: $size * 3;
        background-color: var(--color-font-primary);
    }
    11% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    15% {
        top: 37.5%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    18% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    19% {
        $size: math.div(map-get($loading, measure), 2) * 1.5;

        top: 50%;
        height: math.div(map-get($loading, measure), 2) * 1.5;
        width: map-get($loading, measure) * 1.5;
        background-color: var(--color-font-primary);
    }
    20% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    22% {
        top: 47%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    23% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    28% {
        top: 50%;
        height: map-get($loading, measure);
        width: 50%;
        background-color: inherit;
    }
    98% {
        top: 50%;
        height: map-get($loading, measure);
        width: 50%;
        background-color: inherit;
    }
    99% {
        top: 50%;
        height: map-get($loading, measure);
        width: 50%;
        background-color: var(--color-font-primary);

    }
    100% {
        top: 50%;
        height: map-get($loading, measure);
        width: 0;
        background-color: var(--color-font-primary);
    }
}

@keyframes loading-bar-after {
    0% {
        width: 0%;
        background-color: var(--color-font-secondary);
    }
    50% {
        width: 50%;
        background-color: var(--color-font-secondary);
    }
    98% {
        width: calc(100% + 4px);
        background-color: var(--color-font-secondary);
    }
    99% {
        width: calc(100% + 4px);
        background-color: var(--color-font-primary);
        opacity: 1;
    }
    100% {
        width: 100%;
        background-color: var(--color-font-primary);
        opacity: 0;
    }
}
