
@use 'sass:math';
@use '../abstracts/abstracts' as *;

$loading: (
    measure: 24px,
    duration: 6000ms,
    delay: 300ms,
    border: 3px,
    left-border: calc(25% + 3px),
);

#loading {
    @extend %h-100vh;
    @extend %max-width;
    position: relative;
    transition: opacity map-get($loading, delay);

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: map-get($loading, measure);
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    &::after {
        width: map-get($loading, measure);
        height: map-get($loading, measure);
        border: map-get($loading, border) solid;
        background-color: var(--color-font-primary);
        transform: translate(-50%,-50%);
        left: 50%;
        top: -#{map-get($loading, measure)};
        z-index: 1;

        animation-name: loading-after;
        animation-delay: map-get($loading, delay);
        animation-duration: map-get($loading, duration);
    }

    &::before {
        width: 0%;
        height: map-get($loading, measure) - (map-get($loading, border) * 2);
        background-color: var(--color-font-secondary);
        transform: translateY(-50%);
        top: 50%;
        left: map-get($loading, left-before);

        animation-name: loading-before;
        animation-delay: map-get($loading, delay) + math.div(map-get($loading, duration), 100) * 28 + map-get($loading, delay);
        animation-duration: map-get($loading, duration) - (math.div(map-get($loading, duration), 100) * 28) - map-get($loading, delay);
    }
}

@keyframes loading-after {
    0% {
        top: -#{map-get($loading, measure)};
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    8% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    10% {
        $size: math.div(map-get($loading, measure), 2);

        top: calc(50% + $size);
        height: $size;
        width: $size * 3;
        background-color: var(--color-font-primary);
    }
    11% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    15% {
        top: 37.5%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    18% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    19% {
        $size: math.div(map-get($loading, measure), 2) * 1.5;

        top: 50%;
        height: math.div(map-get($loading, measure), 2) * 1.5;
        width: map-get($loading, measure) * 1.5;
        background-color: var(--color-font-primary);
    }
    20% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    22% {
        top: 47%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    23% {
        top: 50%;
        height: map-get($loading, measure);
        width: map-get($loading, measure);
        background-color: var(--color-font-primary);
    }
    28% {
        top: 50%;
        height: map-get($loading, measure);
        width: 50%;
        background-color: inherit;
    }
    98% {
        top: 50%;
        height: map-get($loading, measure);
        width: 50%;
        background-color: inherit;
    }
    99% {
        top: 50%;
        height: map-get($loading, measure);
        width: 50%;
        background-color: var(--color-font-primary);

    }
    100% {
        top: 50%;
        height: map-get($loading, measure);
        width: 0;
        background-color: var(--color-font-primary);
    }
}

@keyframes loading-before {
    0% {
        width: 0%;
        left: map-get($loading, left-border);
        background-color: var(--color-font-secondary);
    }
    50% {
        width: 25%;
        background-color: var(--color-font-secondary);
        left: calc(#{map-get($loading, left-border)} - 2px);
    }
    98% {
        width: calc(50% - map-get($loading, border));
        background-color: var(--color-font-secondary);
        transform: translateY(-50%);
        left: calc(#{map-get($loading, left-border)} - 2px);
    }
    99% {
        width: 0%;
        background-color: var(--color-font-primary);
        opacity: 1;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    100% {
        width: 0%;
        background-color: var(--color-font-primary);
        opacity: 0;
        transform: translate(-50%,-50%);
        left: 50%;
    }
}
