
@use 'sass:math';
@use '../abstracts/utilities' as *;

$scrollbar: (
    measure: 10px,
    border: 2px,
    background: rgba(255,255,255,.25),
);

@function scrollbar($key) {
    @return map-get($scrollbar, $key);
}

::-webkit-scrollbar {
    width: #{scrollbar(measure)};

    &-thumb {
        border: #{scrollbar(border)} solid var(--color-page-background);
        border-radius: #{scrollbar(measure)};
        background-color: #{scrollbar(background)};
    }

    &-track {
        background-color: var(--color-page-background);
    }
}
